{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Password Change{% endblock %}

{% block body %}
  <h2>Password Change</h2>
  <p>Password strength: <strong><span id="strength-meter">none</span></strong></p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Password">
  </form>
{% endblock %}

{% block custom_js_body_end %}
  <script>
    const strengthMeter = document.querySelector('#strength-meter');
    const passwordInput = document.querySelector('#id_new_password1');

    passwordInput.addEventListener('input', (event) => {
      let passwordStrength = 0;
      const password = event.target.value;
      //console.log(password);
      if (hasNumber(password)) {
        //console.log("has a number");
        passwordStrength += 5;
      }
      if (hasUpper(password) && hasLower(password)) {
        //console.log("has an upper and a lower");
        passwordStrength += 5;
      }
      if (hasSpecial(password)) {
        //console.log("has a special")
        passwordStrength += 5;
      }
      passwordStrength += password.length;

      let message = "";
      let color = 'Grey';
      if (passwordStrength < 1) {
        message = "none";
      } else if (passwordStrength < 8) {
        message = "very weak";
        color = 'DarkRed';
      } else if (passwordStrength < 14) {
        message = "weak";
        color = 'Red';
      } else if (passwordStrength < 20) {
        message = "moderate";
        color = 'Orange';
      } else if (passwordStrength < 25) {
        message = "fair";
        color = 'Gold';
      } else {
        message = "good";
        color = 'Green';
      }

      //strengthMeter.textContent = message + " (" + passwordStrength + ")";
      strengthMeter.textContent = message;
      strengthMeter.style.color = color;
    });

    function hasNumber(str) {
      return /\d/.test(str);
    }

    function hasUpper(str) {
      return /[A-Z]/.test(str);
    }

    function hasLower(str) {
      return /[a-z]/.test(str);
    }

    function hasSpecial(str) {
      if (str.includes('_') || str.includes('=')) {
        return true;
      }
      // need to handle `_` and `=`
      return /[`~!@#$%^&*()-+\[\]{}|:;'",<.>\/?]/.test(str);
    }
  </script>
{% endblock custom_js_body_end %}