{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Edit Profile | {{ super }}{% endblock %}
{% block custom_css %}
  <!-- this CSS is used to style the datepicker -->
  <link rel="stylesheet" href="{% static 'css/thirdparty/jquery-ui/jquery-ui.css' %}">
{% endblock %}
{% block custom_js_head %}
  <script src="{% static 'js/thirdparty/jquery-ui.js' %}"></script>  
  <script>
    $( function() {
      $( '#id_date_of_birth').datepicker({
        yearRange: "1905:-13",
        changeMonth: true,
        changeYear: true
      });
    } );
  </script>
{% endblock %}

{% block body %}
  <div>
    <h1>
      {% if user.userprofile %}
        {{ user.userprofile }}
      {% else %}
        {{ user }}
      {% endif %}
    </h1>
    <p>To change your password, click 
       <a href="{% url 'accounts:change_password' %}">here</a> or customise your profile 
       using the form below</p>
    <h3>Avatar:</h3>
    {% if user.userprofile.avatar %}
      <p><img src="{{ user.userprofile.avatar.url }}" alt="edit avatar" width="200"></p>
      <p><a href="{% url 'image_edit:cropper' %}">Replace</a></p>
    {% else %}
      <a href="{% url 'image_edit:cropper' %}">Upload an avatar.</a>
    {% endif %}
    
     <div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.media }}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" class="button-primary" value="Save">
      </form>

    </div>
  </div>
{% endblock %}

