{% extends "layout.html" %}
{% load static %}

{% block title %}Profile | {{ super }}{% endblock %}

{% block body %}
  <div>
    <h1>
      {% if user.userprofile %}
        {{ user.userprofile }}
      {% else %}
        {{ user }}
      {% endif %}
    </h1>
    <div>
      <table>
        <tbody>
          <tr>
            <td>First Name:</td>
            <td>{{ profile.given_name }}</td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>{{ profile.family_name }}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Avatar:</td>
            <td>
              <a href="{{ profile.avatar.url }}">
                <img src="{{ profile.avatar.url }}" width=200>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <a href="{% url 'accounts:bio' %}">Bio</a>
      </p>
      <p>
        <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
      </p>
    </div>
  </div>
{% endblock %}